<div class="menu">
    <div class="main-menu d-block d-md-none">
        <div class="scroll">
            <ul class="list-unstyled">
                {% if not (app.user) %}
                    <li>
                        <a href={{ path('app_login') }}>
                            <i class="simple-icon-login"></i> Login
                        </a>
                    </li>
                {% endif %}

                {% if (app.user) %}
                    <li>
                        <a href="/logout">
                            <i class="simple-icon-logout"></i> Logout
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('dashboardDefault') }}">
                            <i class="simple-icon-event"></i> Portal
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('ranking') }}">
                            <i class="simple-icon-trophy icon-menu"></i>
                            <span>Ranking</span>
                        </a>
                    </li>
                    {% if ('ROLE_VOLUNTEER' in app.user.roles) %}
                        <li>
                            <a href="{{ path('teacher_edit_classes') }}">
                                <i class="simple-icon-pencil icon-menu"></i>
                                <span>Editar aulas</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if ('ROLE_ADMIN') in app.user.roles %}
                        <li>
                            <a href="{{ path('users') }}">
                                <i class="simple-icon-people icon-menu"></i>
                                <span>Usuários</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        <div class="position-absolute w-100 mb-3 mx-4" style="bottom: 0">
            <ul class="list-unstyled d-sm-none">
                <li>
                    <div class="custom-switch custom-switch-primary-inverse custom-switch-small">
                        <input class="custom-switch-input" id="switchDark" type="checkbox" checked>
                        <label class="custom-switch-btn" for="switchDark"></label>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-menu d-none d-md-block">
        <div class="scroll">
            <ul class="list-unstyled">
                {% if (app.user) %}
                    <li>
                        <a href="{{ path('dashboardDefault') }}">
                            <i class="simple-icon-event icon-menu"></i>
                            <span>Portal</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('ranking') }}">
                            <i class="simple-icon-trophy icon-menu"></i>
                            <span>Ranking</span>
                        </a>
                    </li>
                    {% if ('ROLE_VOLUNTEER' in app.user.roles) %}
                        <li>
                            <a href="{{ path('teacher_edit_classes') }}">
                                <i class="simple-icon-pencil icon-menu"></i>
                                <span>Editar aulas</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if ('ROLE_ADMIN') in app.user.roles %}
                        <li>
                            <a href="{{ path('users') }}">
                                <i class="simple-icon-people icon-menu"></i>
                                <span>Usuários</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        <div class="position-absolute w-100 mb-3 mx-4" style="bottom: 0">
            <ul class="list-unstyled d-sm-none">
                <li>
                    <div class="custom-switch custom-switch-primary-inverse custom-switch-small">
                        <input class="custom-switch-input" id="switchDark" type="checkbox" checked>
                        <label class="custom-switch-btn" for="switchDark"></label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    .icon-menu {
        font-size: 20px !important;
    }
</style>