{% extends 'base/template.html.twig' %}

{% block title %}Lovelace{% endblock %}

{% block vendor_css %}
    <link rel="stylesheet" href="/font/iconsmind-s/css/iconsminds.css"/>
    <link rel="stylesheet" href="/font/simple-line-icons/css/simple-line-icons.css"/>
    <link rel="stylesheet" href="/css/vendor/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="/css/vendor/datatables.responsive.bootstrap4.min.css"/>
    <link rel="stylesheet" href="/css/vendor/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/css/vendor/component-custom-switch.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <h1>Usuários</h1>
            </div>
            <div class="mb-2">
                <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                   role="button" aria-expanded="true" aria-controls="displayOptions">
                    Display Options
                    <i class="simple-icon-arrow-down align-middle"></i>
                </a>
                <div class="collapse dont-collapse-sm" id="displayOptions">
                    <div class="d-block d-md-inline-block">
                        <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                            <input class="form-control" placeholder="Buscar" id="searchDatatable">
                        </div>
                    </div>
                    <div class="float-md-right dropdown-as-select" id="pageCountDatatable">
                        <span class="text-muted text-small"></span>
                        <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            5
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">5</a>
                            <a class="dropdown-item active" href="#">10</a>
                            <a class="dropdown-item" href="#">20</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator mb-5"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4 data-table-rows data-tables-hide-filter">
            <table id="datatableRows" class="data-table responsive nowrap"
                   data-order="[[ 2, &quot;asc&quot; ]]">
                <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Email verificado</th>
                    <th>Registro verificado</th>
                    <th>Cargo</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="p-3">
                            <a href="{{ path('editUserData', {'userId': user.id}) }}">
                                <img src="/img/profile.png" alt="foto" style="width: 3em; height: 3em"
                                     class="img-thumbnail border-0 rounded-circle m-0 list-thumbnail align-self-center"/>
                            </a>
                        </td>
                        <td class="p-3">
                            <a href="{{ path('editUserData', {'userId': user.id}) }}">
                                <p class="list-item-heading">{{ user.name }}</p>
                            </a>
                        </td>
                        <td class="p-3">
                            <p class="text-muted">{{ user.email }}</p>
                        </td>
                        <td class="p-3">
                            {% if user.emailValidated %}
                                <p class="badge badge-pill badge-primary">EMAIL CONFIRMADO</p>
                            {% else %}
                                <p class="badge badge-pill badge-warning">EMAIL NÃO CONFIRMADO</p>
                            {% endif %}
                        </td>
                        <td class="w-10">
                            {% if user.registerApproved %}
                                <p class="badge badge-pill badge-primary col-12">APROVADO</p>
                            {% else %}
                                <p style="cursor: pointer" onmouseover="changeNotApprovedText(this)"
                                   onmouseleave="changeToApprovedText(this)" type="button"
                                   class="badge badge-pill badge-danger col-12" data-toggle="modal"
                                   data-target="#aproveUserModal" data-name="{{ user.name }}" data-user="{{ user.id }}">NÃO APROVADO
                                </p>
                            {% endif %}
                        </td>
                        <td>
                            {% for role in user.roles %}
                                {% if role == 'ROLE_VOLUNTEER' %}
                                    Voluntario
                                {% elseif role == 'ROLE_STUDENT' %}
                                    Aluno(a)
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="modal fade" id="aproveUserModal" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalContentLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <input type="hidden" id="userIdToApprove">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Fechar
                            </button>
                            <button type="button" onclick="aproveUser()" class="btn btn-primary">Aprovar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/js/vendor/datatables.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#escalation').DataTable();
        });

        function searchUser() {
            var input, filter, fullUserList, usernameTag, usernameIndexText, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            fullUserList = document.getElementById("usersList");
            usernameTag = fullUserList.getElementsByClassName("username");
            for (i = 0; i < usernameTag.length; i++) {
                usernameIndexText = usernameTag[i]
                txtValue = usernameIndexText.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tab = document.getElementById(usernameIndexText.innerText)
                    tab.style.display = "";
                } else {
                    tab = document.getElementById(usernameIndexText.innerText)
                    tab.style.display = "none";
                }
            }
        }

        function changeNotApprovedText(item) {
            item.innerText = 'APROVAR'
            item.classList.replace('badge-danger', 'badge-warning')
        }

        function changeToApprovedText(item) {
            item.innerText = 'NÃO APROVADO'
            item.classList.replace('badge-warning', 'badge-danger')
        }

        function aproveUser() {
            var userId = $('#userIdToApprove').val()

            var result = {'user': userId}

            result = result = JSON.stringify(result)
            $.ajax({
                type: "POST",
                url: "/admin/users/register/approve",
                data: result,
                success: function (data) {
                    location.reload();
                }
            })
        }
    </script>
{% endblock %}