{% extends 'base/template.html.twig' %}

{% block title %}Lovelace{% endblock %}

{% block vendor_css %}
    <link rel="stylesheet" href="/font/iconsmind-s/css/iconsminds.css"/>
    <link rel="stylesheet" href="/font/simple-line-icons/css/simple-line-icons.css"/>
    <link rel="stylesheet" href="/css/vendor/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="/css/vendor/datatables.responsive.bootstrap4.min.css"/>
    <link rel="stylesheet" href="/css/vendor/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/css/vendor/component-custom-switch.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <h1>Voluntários</h1>
            </div>
            <div class="mb-2">
                <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                   role="button" aria-expanded="true" aria-controls="displayOptions">
                    Display Options
                    <i class="simple-icon-arrow-down align-middle"></i>
                </a>
            </div>
            <p>Total : {{ count }} inscritos</p>
            <div class="separator mb-5"></div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12" style="overflow-x:auto;">
            <table class="responsive nowrap col-12 text-center">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Especialidade</th>
                    <th>Extra</th>
                    <th>Contactado</th>
                    <th>Data da conversa</th>
                    <th>Com quem será a conversa</th>
                </tr>
                </thead>
                <tbody>
                {% for volunteer in volunteers %}
                    <tr>
                        <td class="p-2 border">
                            <p class="list-item-heading">{{ volunteer.name }}</p>
                        </td>
                        <td class="p-2 border">
                            <p class="text-muted">{{ volunteer.email }}</p>
                        </td>
                        <td class="p-2 border">
                            <p class="text-muted">{{ volunteer.phone }} <span>
                                    <a href="https://wa.me/{{ volunteer.phone }}?text={{ whatsappMessage }}" target="_blank">
                                        <img src="/img/whatsapplogo.png" style="width: 25px; padding-left: 5px">
                                    </a>
                                </span></p>
                        </td>
                        <td class="p-2 border">
                            <p class="text-muted">{{ volunteer.specialty }}</p>
                        </td>
                        <td class="p-2 border">
                            <p class="text-muted">{{ volunteer.extra }}</p>
                        </td>
                        <td class="p-2 border text-center">
                            <div class="custom-switch custom-switch-primary">
                                <input value="{{ volunteer.id }}" class="custom-switch-input contacted" id="switch4" {% if(volunteer.contacted) %}checked{% endif %} type="checkbox">
                                <label class="custom-switch-btn" for="switch4"></label>
                            </div>
                        </td>
                        <td class="p-2 border text-center">
                            <input alt="{{ volunteer.id }}" value="{{ volunteer.talkDateTime }}" type="datetime-local" class="form-control text-muted dateTime">
                        </td>
                        <td class="p-2 border text-center">
                            <input alt="{{ volunteer.id }}" value="{{ volunteer.whoWillTalk }}" type="text" class="form-control text-muted whoWillTalk">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/js/vendor/datatables.min.js"></script>

    <script>
        var contacted = document.getElementsByClassName("contacted")
        for(var index = 0; index <= contacted.length; index++){
            input = contacted[index]
            if(input) {
                input.addEventListener("change", function (e) {
                    e.preventDefault();
                    checked = e.target.checked;
                    id = e.target.value;

                    result = {"contacted": {"volunteer": id, "checked": checked}};

                    result = JSON.stringify(result)

                    $.ajax({
                        type: "POST",
                        url: "/voluntario/contacted",
                        data: result,
                        success: function (data) {
                            console.log(data)
                        },
                        error: function (data) {
                            console.log(data)
                        }
                    })

                })
            }
        }

        var date = document.getElementsByClassName("dateTime")

        console.log(date)
        for(var i = 0; i <= date.length; i++){
            input = date[i]
            console.log(input)
            if(input) {
                input.addEventListener("change", function (e) {
                    id = e.target.alt;
                    dateTime = e.target.value;

                    result = {"date": {"volunteer": id, "datetime": dateTime}};

                    result = JSON.stringify(result)

                    $.ajax({
                        type: "POST",
                        url: "/voluntario/datetime",
                        data: result,
                        success: function (data) {
                            console.log(data)
                        },
                        error: function (data) {
                            console.log(data)
                        }
                    })
                })
            }
        }

        var whoWillTalk = document.getElementsByClassName("whoWillTalk")

        console.log(whoWillTalk)
        for(var i = 0; i <= whoWillTalk.length; i++){
            input = whoWillTalk[i]
            console.log(input)
            if(input) {
                input.addEventListener("keyup", function (e) {
                    id = e.target.alt;
                    who = e.target.value;

                    result = {"whoWillTalk": {"volunteer": id, "name": who}};

                    result = JSON.stringify(result)

                    $.ajax({
                        type: "POST",
                        url: "/voluntario/whowilltalk",
                        data: result,
                        success: function (data) {
                            console.log(data)
                        },
                        error: function (data) {
                            console.log(data)
                        }
                    })
                })
            }
        }
    </script>
{% endblock %}